#projects {
    margin-top: 0px;
    /* margin-bottom: 20px; */
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

}

.portfolio_item {
    /* background: var(--color-bg-variant); */
    background-color: #004449;
    /* padding: 1.3rem; */
    /* border-radius: 2rem; */
    border: 1 px solid transparent;
    /* transition: var(--transition); */
    /* transition: scale 0.3s ease-in-out; */
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    /* background: transparent; */
    /* transform: scale(1.05); */
}

.portfolio_item-image {
    /* border-start-start-radius: 1.5rem; */
    overflow: hidden;
}

/* .portfolio_item h3{

    margin: 1.2rem 0 2rem;
} */
.portfolio_item-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 1067px) {
    .portfolio_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .portfolio_item-cta {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: repeat(1, 1fr);
        width: var(--container-width-sm)
    }
}